html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

img {
    width: auto;
    height: auto;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
    margin: 0;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


/* header */
.header {
    margin-top: 10px;
}

.header_img {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list {
    display: flex;
    gap: 41px;
    /* position: relative; */
}

.header_item {
    position: relative;
}


.header_item:not(:first-child)::after {
    content: "";
    background-image: url(../img/icon.svg);
    width: 17px;
    height: 15px;
    position: absolute;
    margin-left: 8px;
    margin-top: 3px;
    display: inline-block;
    background-repeat: no-repeat;
}


.header_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000;
}

.header_strong {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000;
    position: relative;
}

.header_strong::after {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: -170px;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/icon_1.svg);
}


.header_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inp {
    width: 408px;
    padding: 11px 0px 13px 16px;
    margin-left: 1px;
    background: #fff;
    border: none;
}

.header_form {
    border: 1px solid #64b496;
    border-radius: 5px;
    width: 600px;
    /* background-color: #64b496; */
}

.from_text {
    margin-top: -33px;
    margin-left: 280px;
}

.form_btn {
    position: relative;
    padding: 15px 16px;
    border-radius: 0 5px 5px 0;
    background: #f53e32;
    top: -30px;
    width: 45px;
    height: 45px;
    left: 387px;
    border: none;
}


.form_btn::before {
    content: "";
    background-image: url(../img/icon_02.svg);
    position: absolute;
    width: 14px;
    height: 14px;
    top: 16px;
    left: 16px;
    display: inline-block;
    background-repeat: no-repeat;
}


.exc_link {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #000;
}

.exc_list {
    display: flex;
    gap: 55px;
}

/* hero */


.hero {
    background-image: url(../img/hero_bcround.svg);
    background-repeat: no-repeat;
    padding: 150px 150px;
    background-size: cover;
}


.hero_content {
    width: 550px;
    margin-top: 100px;
}

.hero_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #212529;
}

.hero_span {
    border-bottom: 2px solid #f53e32;
    color: #f53e32;
}

.hero_title {
    width: 524px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 55px;
    line-height: 124%;
    letter-spacing: 0.01em;
    color: #000;
}

.hero_inner_text {
    width: 489px;
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: #7a7a7a;
}

.hero_btn {
    font-weight: 700;
    border: 1px solid #f53e32;
    border-radius: 5px;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
    background-color: #f53e32;
    padding: 12px 23px;
    margin-top: 30px;
    margin-bottom: 220px;
}

/* fruct */

.fruct {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fruct_block {
    display: flex;
    gap: 24px;
}

.fruct_inner_list {
    display: flex;
    gap: 24px;
}

.fruct_item {
    width: 416px;
    height: 84px;
    background-color: #f7f7f8;
    margin-bottom: 5px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.fruct_textc {
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    text-align: center;
    color: #f53e32;
}

.fruct_inside_texty {
    font-weight: 400;
    font-size: 12px;
    line-height: 143%;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 24px;
}

.fruct_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    text-align: center;
    color: #2b2b2d;
}

.fruct_inside_list {
    position: relative;
}

.fruct_btn {
    border-radius: 5px;
    background: #f53e32;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
    padding: 12px 23px;
    border: none;
    position: absolute;
    top: 450px;
    left: 149px;
    margin-bottom: 29px;
}

.fruct_inside_text {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #fff;
    position: absolute;
    top: 411px;
    left: 181px;
}

/* popular */



.coment_list {
    margin-bottom: 24px;
}

.popular_cap {
    display: flex;
    gap: 24px;
}

.popular_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2b2b2d;
}


.popular_block {
    display: flex;
}

.popular_text {
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    margin-top: 18px;
    margin-bottom: 30px;
    width: 595px;
}

.popular_content {
    margin-bottom: 30px;
}

.coment_text_row {
    font-weight: 700;
    font-size: 14px;
    line-height: 167%;
    letter-spacing: 0.03em;
    color: #f53e32;
    margin-top: 12px;
    margin-left: 10px;
}

.coment_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 167%;
    letter-spacing: 0.03em;
    color: #2b2b2d;
    margin-top: 12px;
    margin-left: 10px;
}

.coment_item {
    position: relative;
    width: 306px;
    height: 49px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background: #f7f7f8;
    margin-bottom: 5px;
}


.coment_item:nth-child(1)::after {
    background-image: url(../img/popular_icon_1.svg);
    content: "";
    width: 17px;
    height: 26px;
    display: inline-block;
    background-repeat: no-repeat;
    top: 10px;
    right: 15px;
    position: absolute;
}

.coment_item:not(:first-child)::after {
    background-image: url(../img/popular_2.svg);
    content: "";
    position: absolute;
    width: 17px;
    height: 26px;
    top: 10px;
    right: 15px;
    background-repeat: no-repeat;
}

.coments_img {
    width: 306px;
    height: 688px;
    position: relative;
}

.coments_text {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #fff;
    position: absolute;
    top: 110px;
    left: 20px;
}

.coments_title {
    font-weight: 900;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #f7e8aa;
    position: absolute;
    background-repeat: no-repeat;
    top: 160px;
    left: 20px;
}

.coments_inner_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fff;
    position: absolute;
    top: 220px;
    left: 20px;
}

.coments_btn {
    padding: 12px 23px;
    border: none;
    border-radius: 5px;
    background-color: #f53e32;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
    position: absolute;
    top: 265px;
    left: 20px;
}

/* menu */
.menu_list {
    max-width: 1320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.menu_list {
    flex-wrap: wrap;
}

.menu_item {
    width: 306px;
    height: 477px;
    padding: 13px 13px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.menu_item::after {
    position: absolute;
    background-image: url(../img/yulduz.svg);
    width: 86px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
    top: 67%;
    left: 92px;
}

.menu_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #777;
    margin-bottom: 5px;
}

.menu_title {
    margin-top: 17px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2b2b2d;
}

.menu_inside {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.menu_strong {
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f53e32;
}

.menu_inside_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.04em;
    text-decoration: line-through;
    text-align: center;
    color: #7a7a7a;
}

.menu_inner_text {
    font-weight: 400;
    font-size: 11px;
    line-height: 91%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #999;
    position: absolute;
    top: 68%;
    left: 180px;
}

/* menu */

.about {
    margin-top: 76px;
}

.about_list {
    display: flex;
    gap: 24px;
}

.about_item {
    position: relative;
}


.about_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2b2b2d;
    position: absolute;
    top: 40px;
    left: 24px;
    width: 167px;
}

.about_strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #f53e32;
    position: absolute;
    top: 104px;
    left: 24px;
}

.about_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #777;
    position: absolute;
    top: 110px;
    left: 73px;
}

.about_btn {
    padding: 12px 23px;
    border: none;
    border-radius: 5px;
    background-color: #f53e32;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
    position: absolute;
    top: 155px;
    left: 24px;
}

/* services */
.services {
    margin-top: 100px;
    margin-bottom: 100px;
}

.services_list {
    display: flex;
    gap: 24px;
}

.services_item {
    width: 306px;
    height: 182px;
    background-color: #f7f7f8;
    position: relative;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.services_item:nth-child(1)::after {
    content: "";
    position: absolute;
    background-image: url(../img/Icon_001.png);
    width: 43px;
    height: 41px;
    top: 50px;
    left: 131px;
    display: inline-block;
    background-repeat: no-repeat;
}

.services_item:nth-child(2)::after {
    content: "";
    position: absolute;
    background-image: url(../img/Icon_001.png);
    width: 43px;
    height: 41px;
    top: 50px;
    left: 131px;
    display: inline-block;
    background-repeat: no-repeat;
}

.services_item:nth-child(3)::after {
    content: "";
    position: absolute;
    background-image: url(../img/Icon_001.png);
    width: 43px;
    height: 41px;
    top: 50px;
    left: 131px;
    display: inline-block;
    background-repeat: no-repeat;
}

.services_item:nth-child(4)::after {
    content: "";
    position: absolute;
    background-image: url(../img/Icon_001.png);
    width: 43px;
    height: 41px;
    top: 50px;
    left: 131px;
    display: inline-block;
    background-repeat: no-repeat;
}



.services_title {
    font-weight: 600;
    margin-top: 78px;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2b2b2d;
    margin-bottom: 9px;
}

.services_text {
    width: 205px;
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}



/* wrapper */


.wrapper {
    background-image: url(../img/wrapper_section.svg);
    background-repeat: no-repeat;
    padding: 162px 162px;
    background-size: cover;
}


.wrapper_block {
    border-radius: 5px;
    box-shadow: -3px 3px 8px 5px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.22);
    width: 500px;

}

.wr_strong {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #f53e32;
    left: 24px;
    top: 24px;
}

.wr_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #212529;
    left: 69px;
    top: 31px;
    margin-bottom: 14px;
}

.wr_div {
    display: flex;
    gap: 7px;
}

.wr_list {
    width: 290px;
    display: flex;
    gap: 20px;
    border: 1px solid #e9cbbe;
    border-radius: 5px;
    position: relative;
}

.wr_title {
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2b2b2d;
}

.wr_inside_text {
    font-weight: 300;
    width: 439px;
    font-size: 14px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: #7a7a7a;
    margin-bottom: 23px;
}

.wr_inner_item::after {
    background-image: url(../img/wrapper_icon.svg);
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    width: 7px;
    height: 30px;
    position: absolute;
    top: 11px;
    left: 43px;
}

.wr_inner_item:nth-child(2):after {
    background-image: url(../img/wrapper_icon.svg);
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    width: 7px;
    height: 30px;
    position: absolute;
    top: 11px;
    left: 43px;
}



/* vitamin */

.vitamin {
    background-color: #fff;
    padding-top: 101px;
}

.vitamin_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img_3 {
    position: relative;
}

.img_1 {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.img_3_title {
    font-weight: 900;
    font-size: 24px;
    line-height: 156%;
    letter-spacing: 0.02em;
    text-align: right;
    color: #2b2b2d;
    width: 251px;
    position: absolute;
    left: 361px;
    top: 144px;
}

.img_3_strong {
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2b2b2d;
    position: absolute;
    left: 526px;
    top: 236px;
}

.img_3_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2b2b2d;
    position: absolute;
    top: 244px;
    left: 581px;
}

.img_3_btn {
    padding: 12px 23px;
    border: none;
    border-radius: 5px;
    background-color: #f53e32;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
    position: absolute;
    top: 292px;
    left: 493px;
}

/* words */
.words {
    padding-top: 101px;
    padding-bottom: 100px;
}

.words_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

.words_inner_img {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background: #f7f7f8;
    width: 416px;
    position: relative;
    margin-top: 40px;
}

.words_inner_img::before {
    content: "";
    position: absolute;
    background-image: url(../img/words_01.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: inline-block;
    top: -45px;
    left: 148px;
}

.words_div {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 76px;
}

.words_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2b2b2d;
    align-items: center;
    margin-bottom: 16px;
}

.words_text {
    width: 600px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.inner__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 236%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 10px;
}

.inner__tile {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 183%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2b2b2d;
}

.inner-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    width: 286px;
    margin-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
}

/* news */

.news_list::before {
    content: "";
    background-image: url(../img/div.cr-blog-image.png);
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background: #fff;
    width: 416px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}



.news_title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2b2b2d;
}

.news_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    width: 596px;
    margin-top: 18px;
    margin-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
}

.news_inner_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.03em;
    color: #7a7a7a;
}

.news_inner_title {
    font-weight: 600;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: 0.03em;
    color: #2b2b2d;
    width: 345px;
}

.news_inner_text_1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #64b496;
}